*{
    box-sizing: border-box;
}

body{
    text-align: center;
    font-family: 'Gudea', sans-serif;
    line-height: 1.5;
    background: #f9f2e7;
    color: #444;
}
    
nav{
    height: 70px;
    background: #99cc00;
    color: #fff;
    box-shadow: 0px 3px 25px 0px #555;
    position: relative;
    z-index: 1;
}

nav li{
    display: inline;
    font-size: 22pt;
    margin: 0px 10px;
    line-height: 70px;
    font-family: 'Patua One', cursive;
    letter-spacing: 1px;
}

header{
    background: #00a8c6;
    height: 90vh;
    color: #fff;
    box-shadow: 0px 3px 25px 0px #333;
    margin-bottom: -20px;
}

h1{
    font-family: 'Patua One', cursive;
    font-size: 20vw;
    padding: 80px 0px 70px;
    text-shadow: 0px 2px 5px #666;
    line-height: 1;
}

h2{
    font-size: 13vw;
}

.full-stack{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18pt;
    letter-spacing: 20px;
}

.tech-icon{
    width: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon-container{
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 5px;
    height: 60px;
    width: 60px;
    position: relative;
}

.section-title{
    display: block;
    font-size: 36pt;
    background: #444;
    color: #f9f2e7;
    font-family: 'Patua One', cursive;  
    margin: 20px 0px;
}

.project-title{
    font-size: 28pt;
    font-family: 'Patua One', cursive;
}

.project{
    margin: 20px 0;
}

main p{
    max-width: 600px;
    display: inline-block;
    font-size: 16pt;
    margin: 13px auto;
    text-align: left;
    padding: 0px 10px;
}

main p a{
    text-decoration: none;
    border-bottom: 1px dotted #444;
    color: inherit;
}

main img{
    width: 90%;
    box-shadow: 0px 10px 15px -7px #444;
}

.matt{
    border: 3px solid #444;
    border-radius: 50%;
    width: 50%;
    filter: grayscale(50%);
    transition: filter .2s ease;
    margin: 10px 0;
}

.matt:hover{
    filter: grayscale(10%);
}

.no-shadow{
    box-shadow: none;
}

.winrate .project-title{
    margin-bottom: -20px;
}

.social-congress .project-title, .chronomeal-api .project-title{
    margin-bottom: 10px;
}

.contact{
    margin-bottom: 20px;
}

.contact-links{
    font-size: 16pt;
}

.contact-links li{
    margin-bottom: 10px;
}

.contact-links a{
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

@media only screen and (min-width: 820px){
    nav li{
        margin: 0px 60px;
        font-size: 24pt;
    }

    h1{
        padding: 150px 0px 100px;
        font-size: 120pt;
    }

    h2{
        font-size: 46pt;
    }

    header{
        height: 80vh;
    }

    .about-p{
        width: 70%;
    }

    .matt{
        width: 30%;
    }

    main img{
        max-width: 800px;
    }

    .section-title{
        font-size: 46pt;
    }

    .project-title{
        font-size: 38pt;
    }
}