/*Mobile-first: phone screens and universal styles*/
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    text-align: center;
    font-family: 'Gudea', sans-serif;
    line-height: 1.5;
    background: #f9f2e7;
    color: #444;
}
    
nav{
    height: 70px;
    background: #293d3e;
    color: #fff;
    box-shadow: 0px 3px 25px 0px #555;
    position: relative;
    width: 100%;
    z-index: 1;
}

nav li{
    display: inline-block;
    height: 70px;
    font-size: 22pt;
    margin: 0px 10px;
    line-height: 70px;
    font-family: 'Patua One', cursive;
    letter-spacing: 1px;
}

nav li:hover{
    border-bottom: 4px solid #c19f46;
}

nav a{
    color: white;
    text-decoration: none;
    border: none;
}

header{
    background-color: #405c46;
    background: #405c46 url('../img/header.png');
    background-size: cover;
    height: 90vh;
    color: #fff;
    box-shadow: 0px 3px 25px 0px #333;
    margin-bottom: -20px;
}

.contact{
    background: #293d3e;
    color: white;
}

h1{
    font-family: 'Patua One', cursive;
    font-size: 20vw;
    padding: 80px 0px 110px;
    text-shadow: 0px 2px 7px #666;
    line-height: 1;
}

h2{
    font-size: 13vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.full-stack{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18pt;
    letter-spacing: 20px;
}

.k{
    letter-spacing: 0px;
}

.technologies{
    padding: 40px 0;
}

.tech-icon{
    max-height: 80%;
    max-width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.icon-container{
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    position: relative;
    transition: all .3s ease;
}

.icon-container:hover{
    border-color: #c19f46;
}

.tooltip{
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background: #c19f46;
    border-radius: 4px;
    padding: 3px 10px;
    transition: all .2s ease;
}

.tooltip:after{
    content: "";
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 5px solid #c19f46;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.hidden{
    visibility: hidden;
    /*display: none;*/
    top: -20px;
    transform: scaleY(.001) translateX(-50%);
}

.section-title{
    display: block;
    font-size: 36pt;
    background: #444;
    color: #f9f2e7;
    font-family: 'Patua One', cursive;  
    margin: 20px 0px;
    box-shadow: 0px 13px 25px -13px #333;
}

.project-title{
    font-size: 28pt;
    font-family: 'Patua One', cursive;
}

.project{
    margin: 20px 0;
}

.project-link{
    margin: 0px 10px;
    font-size: 20pt;
    padding: 5px 0px;
}

hr{
    width: 80%;
    background-color: #4f8d90;
    height: 2px;
}

main{
    font-size: 16pt;
}

main p{
    max-width: 600px;
    display: inline-block;
    margin: 13px auto;
    text-align: left;
    padding: 0px 10px;
}

a{
    text-decoration: none;
    border-bottom: 1px dotted #444;
    color: inherit;
}

.project-title a{
    border: none;
}

#arden{
    border-bottom: 1px dotted #444;
    cursor: default;
}

main img{
    width: 90%;
    box-shadow: 0px 10px 15px -7px #444;
}

.matt{
    border: 3px solid #555;
    border-radius: 50%;
    width: 50%;
    filter: grayscale(50%);
    transition: filter .2s ease;
    margin: 10px 0;
}

.matt:hover{
    filter: grayscale(10%);
}

.no-shadow{
    box-shadow: none;
}

.project-name{
    font-weight: bold;
}

.project-image{
    transition: all .2s ease;
}

.image-link{
    border: none;
}

.project-image:hover{
    transform: scale(1.04);
}

.winrate .project-title{
    margin-bottom: -20px;
}

.social-congress .project-title, .chronomeal-api .project-title{
    margin-bottom: 10px;
}

.project-description ul{
    margin-top: 20px;
    list-style-type: square;
    display: inline-block;      
}

.project-description li{
    text-align: left;
    padding-left: 3px;
}

.contact{
    padding-bottom: 20px;
    background: #293d3e;
}

.contact-links{
    font-size: 16pt;
}

.contact-links li{
    margin: 15px 0px;
}

.contact-links a{
    font-weight: bold;
    text-decoration: none;
    color: inherit;
    border: 1px solid #fff;
    padding: 4px 7px;
    border-radius: 5px;
    transition: color .2s ease;
}

.contact-links a:hover{
    color: #c19f46;
    border-color: #c19f46;
}

.linkedin-link{
    margin-right: 20px;
}

.preload-arden{
    position: absolute;
    top: -9999px;
    left: -9999px;
}

/* Tablets/some laptop screens */
@media only screen and (min-width: 600px) and (max-width: 1300px){
    header{
        height: 800px;
    }

    nav li{
        margin: 0px 40px;
        font-size: 24pt;
    }

    h1{
        font-size: 100pt;
        padding: 120px 0px 130px;
    }

    h2{
        font-size: 50pt;
    }

    .icons-second-row{
        display: inline;
    }

    .icon-container{
        height: 60px;
        width: 60px;
    }

    .technologies{
        padding: 50px 0;
    }


    .matt{
        max-width: 300px;
    }

    .about p{
        display: block;
        padding: 10px 0px;
    }

    .about-container{
        padding: 70px 0px;
    }

    .section-title{
        font-size: 46pt;
    }

    .project-title{
        font-size: 46pt;
    }

    .project-image{
        max-width: 600px
    }

    .project-description p{
        display: block;
    }

    .project{
        padding: 50px 0px;
    }

    .contact-links{
        font-size: 20pt;
    }

    .contact-links li{
        margin: 25px 0px;
    }
}

/* Largest screens */
@media only screen and (min-width: 1300px){
    header{
        height: 1200px;
    }

    nav li{
        margin: 0px 80px;
        font-size: 24pt;
    }

    h1{
        padding: 300px 0px 150px;
        font-size: 120pt;
    }

    h2{
        font-size: 46pt;
    }

    .icons-second-row{
        display: inline;
    }

    .icon-container{
        height: 70px;
        width: 70px;
    }

    .technologies{
        padding: 150px 0;
    }

    .about-container{
        display: inline-block;
        position: relative;
        max-width: 800px;
        text-align: left;
        padding: 70px 0px 120px 0px;
    }

    .about-p{
        width: 70%;
    }

    .matt{
        width: 30%;
        position: absolute;
        left: 70%;
        top:50%;
        margin-left: 20px;
        transform:translateY(-65%); /*bumping up a little*/
    }

    main img{
        max-width: 800px;
        max-height: 600px;
        box-shadow: 7px 10px 15px -7px #444;
    }

    .section-title{
        font-size: 46pt;
    }

    .project-title{
        font-size: 46pt;
        text-align: center;
    }

    .project{
        position: relative;
        text-align: left;
        height: 600px;
        width: 80%;
        display: inline-block;
        margin: 50px 0px 150px 0px;
    }

    .project-description-container{
        width: 50%;
        height: 100%;
        position: relative;
    }

    .project-description{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }

    .project-description p{
        display: block;
    }

    .project-image{
        width: 50%;
        position: absolute;
        left: 50%;
        top: 30%;
    }

    .winrate-image{
        top: 7%;
    }

    .contact{
        padding-bottom: 70px;
    }

    .contact-links{
        padding-top: 30px;
        font-size: 20pt;
    }

    .contact-links li{
        margin: 25px 0px;
    }
}
