*{
    box-sizing: border-box;
}

body{
    text-align: center;
    line-height: 1.5;
    background: #f9f2e7;
    color: #444;
}

p{
    max-width: 600px;
    display: inline-block;
    font-family: 'Gudea', sans-serif;
    font-size: 16pt;
}
    
nav{
    height: 70px;
    background: #99cc00;
    color: #fff;
    font-family: 'Gudea', sans-serif;
    font-size: 24pt;
    box-shadow: 0px 3px 25px 0px #555;
    position: relative;
    z-index: 1;
}

nav li{
    display: inline;
    margin: 0px 60px;
    line-height: 70px;
    font-family: 'Patua One', cursive;
    letter-spacing: 2px;
}

header{
    background: #00a8c6;
    height: 80vh;
    color: #fff;
    box-shadow: 0px 3px 25px 0px #333;
}

h1{
    font-family: 'Patua One', cursive;
    font-size: 120pt;
    padding: 100px 0px 70px;
    text-shadow: 0px 2px 5px #666;
}

h2{
    font-family: 'Gudea', sans-serif;
    font-size: 50pt;
}

.full-stack{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18pt;
    letter-spacing: 20px;
}

.tech-icon{
    width: 90%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon-container{
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 5px;
    padding: 5px;
    height: 60px;
    width: 60px;
    position: relative;
}

.section-title{
    font-family: 'Gudea', sans-serif;
    font-size: 36pt;
    font-weight: bold;
    border: 5px solid #444;
    border-radius: 4px;
    padding: 5px 15px;
    margin-top: 30px;
    display: inline-block;
}